.container {
  --transition-speed: 500ms;
  max-width: fit-content;
  position: relative;
  cursor: pointer;

  &:hover > p,
  &:focus > p {
    opacity: 0;
  }

  &:hover .imageWrapper > img,
  &:focus .imageWrapper > img {
    filter: brightness(150%);
    transform: scale(1);
  }

  &:hover .imageWrapper::before,
  &:focus .imageWrapper::before {
    transform: scale(0, 1);
  }
  &:hover .imageWrapper::after,
  &:focus .imageWrapper::after {
    transform: scale(1, 0);
  }

  .imageWrapper {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: clamp(5rem, 40vw, 15.625rem);
    height: clamp(5rem, 40vw, 15.625rem);
    border-radius: 25%;
    border: 0.0625rem solid white;

    &::before,
    &::after {
      z-index: 10;
      content: "";
      position: absolute;
      top: 1.75rem;
      bottom: 1.75rem;
      right: 1.75rem;
      left: 1.75rem;
    }

    &::before {
      border-top: 0.0625rem solid white;
      border-bottom: 0.0625rem solid white;
      transform: scale(1.1, 1);
      transition: transform ease-out var(--transition-speed);
    }

    &::after {
      border-left: 0.0625rem solid white;
      border-right: 0.0625rem solid white;
      transform: scale(1, 1.1);
      transition: transform ease-out var(--transition-speed);
    }

    > img {
      max-width: 100%;
      object-fit: cover;
      filter: brightness(50%);
      transform: scale(1.4);
      transition: filter ease-out var(--transition-speed),
        transform ease-out var(--transition-speed);
    }
  }

  > p {
    z-index: 15;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 70%;
    text-align: center;
    letter-spacing: 0.125rem;
    color: white;
    font-size: 120%;
    opacity: 1;
    transition: opacity ease-out var(--transition-speed);
  }
}

/* Tablet styles */
@media only screen and (min-width: 48rem) {
  .container {
    .imageWrapper {
      width: 15.625rem;
      height: 15.625rem;
    }

    > p {
      width: 90%;
      font-size: 1.5rem;
    }
  }
}
