.header {
  z-index: 999;
  position: fixed;
  top: 2rem;
  width: 100%;
  background-color: rgba(53, 66, 89, 0.85);
  backdrop-filter: blur(5px);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.7);

  &.open {
    &::after {
      opacity: 0;
      transition: opacity 0ms;
    }
  }

  &::before {
    z-index: 990;
    content: "<header>";
    color: var(--color-gray-medium);
    font-family: var(--font-cursive);
    position: absolute;
    top: -1.5rem;
    left: 0;
    padding-left: 0.5rem;
  }
  &::after {
    opacity: 1;
    content: "</header>";
    color: var(--color-gray-medium);
    font-family: var(--font-cursive);
    position: absolute;
    bottom: -1.5rem;
    left: 0.5rem;
    transition: opacity 250ms ease-in-out 250ms;
  }

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: transparent;
  }

  h1 {
    font-family: var(--font-cursive);
    font-size: 1.75rem;
  }

  .mobileNavToggle {
    height: 24px;
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;

    span,
    span::before,
    span::after {
      content: "";
      display: block;
      background-color: var(--color-teal-light);
      height: 3px;
      width: 2rem;
      border-radius: 3px;
      transition: all 500ms ease-in-out;
    }

    span::before {
      transform: translateY(-7px);
    }

    span::after {
      transform: translateY(4px);
    }

    &.open {
      span {
        transform: rotate(45deg);
      }
      span::before {
        opacity: 0;
      }
      span::after {
        transform: translateY(-3px) rotate(-90deg);
      }
    }
  }

  .mobileNav {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    text-align: right;
    box-shadow: 0px 9px 15px -7px rgba(0, 0, 0, 0.7);
    border-bottom: 1px solid transparent; // to fix collapsing margin
    background-color: var(--color-blue-dark);
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;

    &.open {
      transform: scale(1, 1);

      a {
        opacity: 1;
        transition: opacity 250ms ease-in-out 250ms;
      }

      &::after {
        content: "</header>";
        color: var(--color-gray-medium);
        font-family: var(--font-cursive);
        position: absolute;
        bottom: -1.5rem;
        left: 0.5rem;
      }
    }

    ul {
      list-style: none;
    }

    ul:nth-child(1) {
      margin-top: 1rem;
    }

    li {
      margin-bottom: 1rem;
      margin-right: 1rem;
    }

    a {
      color: var(--color-gray-light);
      text-decoration: none;
      opacity: 0;
      transition: opacity 150ms ease-in-out;

      &:hover,
      &:focus,
      &.active {
        color: var(--color-teal-light);
      }
    }
  }

  .desktopNav {
    display: none;
  }
}

/* Tablet styles */
@media only screen and (min-width: 768px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 3rem;
    padding-right: 3.5rem;

    &.open {
      &::after {
        opacity: 1;
      }
    }

    &::before {
      padding-left: 2rem;
    }
    &::after {
      left: 2rem;
    }

    .wrapper {
      padding: 0;
    }
    h1 {
      font-size: 2rem;
    }

    .mobileNavToggle,
    .mobileNav {
      display: none;
    }

    .desktopNav {
      display: block;

      ul {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        list-style: none;
      }

      a {
        position: relative;
        color: var(--color-gray-light);
        text-decoration: none;

        &::after {
          content: "";
          display: block;
          position: absolute;
          top: 125%;
          width: 100%;
          height: 4px;
          background: var(--color-teal-light);
          border-radius: 4px;
          transform: scale(0, 1);
          transition: transform 250ms ease-in-out;
        }

        &:hover,
        &:focus,
        &.active {
          color: var(--color-teal-light);
        }

        &.active::after {
          transform: scale(1, 1);
        }
      }
    }
  }
}
