.header {
  z-index: 999;
  position: fixed;
  width: 100%;
  text-align: left;
  background-color: var(--color-blue-dark);

  h1 {
    margin-left: 1rem;
    font-family: var(--font-cursive);
    font-size: 1.75rem;
  }

  nav {
    display: none;
    text-align: right;
    box-shadow: 0px 9px 15px -7px rgba(0, 0, 0, 0.7);
    border-bottom: 1px solid transparent; // to fix collapsing margin

    ul {
      list-style: none;
    }

    li {
      margin-bottom: 1rem;
      margin-right: 1rem;
    }

    a {
      color: var(--color-gray-light);
      text-decoration: none;

      &:hover,
      &:focus {
        color: var(--color-teal-light);
      }
    }
  }
}

.navToggle {
  display: none;
}

.navToggle:checked ~ nav {
  display: block;
}

.navToggleLabel {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 1rem;
  height: 48px;
  display: flex;
  align-items: center;

  span,
  span::before,
  span::after {
    content: "";
    display: block;
    background-color: var(--color-teal-light);
    height: 3px;
    width: 2rem;
    border-radius: 3px;
    transition: all ease-in-out 500ms;
  }

  span::before {
    transform: translateY(-7px);
  }

  span::after {
    transform: translateY(4px);
  }
}

.navToggleLabel.open {
  span {
    transform: rotate(45deg);
  }
  span::before {
    opacity: 0;
  }
  span::after {
    transform: translateY(-3px) rotate(-90deg);
  }
}

/* Tablet styles */
@media only screen and (min-width: 768px) {
  .header {
    background-color: rgba(53, 66, 89, 0.85);
    backdrop-filter: blur(5px);

    h1{
      font-size: 2rem;
    }
  }
}
