.footer {
  position: relative;
  margin: 4.5rem 0 1.5rem;
  padding: 2rem 0 5rem;
  box-shadow: inset 0rem 0rem 0.9375rem 0rem rgba(0, 0, 0, 0.7);
  background-color: var(--color-teal-dark);

  &::before,
  &:after {
    color: var(--color-gray-medium);
    font-family: var(--font-cursive);
    font-size: 1.1rem;
    font-weight: 500;
    position: absolute;
    left: 0.5rem;
  }
  &::before {
    content: "<footer>";
    top: -1.5rem;
  }
  &::after {
    content: "</footer>";
    bottom: -1.5rem;
  }

  .email {
    margin: 1.5rem auto 1.5rem;
    display: block;
    width: fit-content;
    color: white;
    text-decoration: none;

    &:hover,
    &:focus {
      color: var(--color-teal-light);
    }
  }

  .linksWrapper {
    width: fit-content;
    margin: 1.5rem auto 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;

    a:hover .link,
    a:focus .link {
      filter: invert(74%) sepia(84%) saturate(1169%) hue-rotate(97deg)
        brightness(103%) contrast(102%);
      transform: translateY(-0.3rem);
    }
  }

  .link {
    width: 1.5rem;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(271deg)
      brightness(112%) contrast(101%);
    transition: transform ease-in-out 250ms;
  }
}

/* Tablet styles */
@media only screen and (min-width: 48rem) {
  .footer {
    &::before,
    &::after {
      left: 2rem;
    }
  }
}
