@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Mulish:wght@500&display=swap");
:root {
  --font-main: "Mulish", sans-serif;
  --font-cursive: "Caveat", cursive;
  --color-blue-dark: #354259;
  --color-teal-light: #00ffab;
  --color-gray-medium: #6d8497;
  --color-gray-light: #b2bcc4;
}

/* Reset: modified from https://piccalil.li/blog/a-modern-css-reset/ */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul,
button {
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: var(--font-main);
}

body {
  min-height: 100vh;
  line-height: 1.5;
}
