.container {
  background-color: var(--color-blue-dark);
  color: var(--color-gray-light);

  .main {
    padding-top: 4rem;
    display: flex;
    justify-content: center;

    .intro {
      display: flex;
      flex-direction: column;
      gap: 4rem;
    }
  }
}

/* Laptop styles */
@media only screen and (min-width: 1280px) {
  .container {
    .main {
      padding-top: 7rem;
      display: block;
      width: 100%;

      .intro {
        flex-direction: row;
        justify-content: center;
      }
    }
  }
}